<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a routerLink="/" class="navbar-brand">WeLearn CMS</a>
          </div>
        <ul class="nav navbar-nav">
            <li routerLinkActive="active"  style="cursor: pointer;"><a routerLink="/documents">Documents</a></li>
            <li routerLinkActive="active"  style="cursor: pointer;"><a routerLink="/messages">Messages</a></li>
            <li routerLinkActive="active"  style="cursor: pointer;"><a routerLink="/contacts">Contacts</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li class="dropdown" appDropdown>
                <a style="cursor: pointer;" class="dropdown-toggle" role="button">User <span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li><a style="cursor: pointer;">Properties</a></li>
                    <li><a style="cursor: pointer;">Info</a></li>
                </ul>
            </li>
        </ul>
    </div>
    
    </nav>