<div class="row" style="height:auto">
    <div class="col-md-12">
        <h2>{{contactClicked.name}}</h2>
        <div class="pull-left col-sm-4">
            <img [src]="contactClicked.imageUrl" alt="{{contactClicked.name}} " class="img-responsive" style="max-height: 150px;">
        </div>
        <div class="panel-body col-sm-4 col-md-3">
            <div class="list-group-item-heading">
                <b>Email: </b><span>{{contactClicked.email}} </span>
            </div>
            <div class="list-group-item-heading">
                <b>Phone: </b><span>{{contactClicked.phonenumber}}</span> 
            </div>
        </div>
        <br>
        <br>
        <br>
        <div class="pull-right btn-toolbar">
            <a class="btn btn-primary">Edit</a>
            <a class="btn btn-danger">Delete</a>
        </div>
    </div>
    <br>
</div>
