<div class="panel panel-default">
    <div class="panel-heading list-group-item clearfix">
      <div class="pull-left">
        <img [src]="contact.imageUrl" alt="{{contact.name}}" class="img-responsive" style="max-height: 250px">
      </div>
      <span class="pull-right">
        <div class=" btn-toolbar">
          <a [routerLink]="['edit']" routerLinkActive="router-link-active" class="btn btn-info">Edit</a>
          <a (click)="onDelete()" class=" btn btn-danger">Delete</a>
        </div>
      </span>
    </div>
      <h3>{{contact.name}}</h3>
      <h4>Phone: <span>{{contact.phone}}</span></h4>
      </div>
  
  