<div class="row" style="height:auto">
    <div class="col-md-11">
        <div class="pull-right btn-toolbar">
            <br>
            <br>
            <a class="btn btn-success">Create New Contact</a>
        </div>
        <h1 class="lead" style="font-size: 40px; margin-left: 1em;"> Contacts</h1>         
        <ul class="listgroup">
            <cms-contact-item
            *ngFor="let contactIteration of contacts" 
            [contact]="contactIteration"
            (contactSelected)="onContactClickEvent(contactIteration)"></cms-contact-item>
        </ul>
    </div>
</div>


